In [1]:
import pandas as pd

In [6]:
covid_df=pd.read_csv('covid_noura-dataset/Chest_xray_Corona_dataset_Summary.csv')
# covid_df.head(3)
# covid_df.tail(3)

,Unnamed: 0,Label,Label_1_Virus_category,Label_2_Virus_category,Image_Count
4,4,Pnemonia,Virus,SARS,4
5,5,Pnemonia,bacteria,NaN,2772
6,6,Pnemonia,bacteria,Streptococcus,5

In [7]:
covid_df.columns #read columns

Index(['Unnamed: 0', 'Label', 'Label_1_Virus_category',
       'Label_2_Virus_category', 'Image_Count'],
      dtype='object')

In [14]:
covid_df['Image_Count'][:5]  #sepcify 
covid_df.Image_Count

0    1576
1       2
2    1493
3      58
4       4
5    2772
6       5
Name: Image_Count, dtype: int64